<!--
  Generated template for the Standings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-label>姓名: 王志文</ion-label>
  <ion-label>性别: 男</ion-label>
  <ion-label>年龄: 43岁</ion-label>
  <ion-label>检查日期: 2016/10/19</ion-label>
  <ion-label>设备：CT</ion-label>

  <ion-label>检查部位: 膝关节平扫（左）</ion-label>
  <ion-slides style="height: 280px" pager>

    <ion-slide>
      <img src="../assets/image/diagnostic-chest-1.jpg" style="max-height: 250px" />
    </ion-slide>

    <ion-slide>
      <img src="../assets/image/diagnostic-chest-2.jpg" style="max-height: 250px"/>
    </ion-slide>

    <ion-slide>
      <img src="../assets/image/diagnostic-chest-3.jpg" style="max-height: 250px"/>
    </ion-slide>

    <ion-slide>
      <img src="../assets/image/diagnostic-chest-4.jpg" style="max-height: 250px"/>
    </ion-slide>
  </ion-slides>


  <ion-label>阴性/阳性: 未知</ion-label>
  <ion-label style="flex-wrap:wrap">
    ACR: 1.颅脑 3.新生物,瘤样新生物</ion-label>
  <ion-label  style="flex-wrap:wrap">临床诊断: （左肺下叶）浸润性泉癌（中央型，大约2*1.5CM)以泉泡生长为主，部分区域呈贴壁状生长及乳头状生长，侵及支气管壁，未累及肺被膜及支气管断端</ion-label>
  <ion-label>病史: 曾患有肺结核</ion-label>
  <ion-label style="flex-wrap:wrap">影像表现: 双肺继发型肺结核，伴空洞形成；双侧胸膜肥厚粘连； </ion-label>
  <ion-label style="flex-wrap:wrap">诊断意见: 建议相关实验室检查。（PPD）或肺活检、肺泡灌洗有助于诊断和鉴别诊断。</ion-label>
  <ion-label>备注: </ion-label>
</ion-content>